* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #13aa52;
}

.intro {
  text-align: center;
  color: #fff;
}

.title {
  font-size: 6rem;
}

.technology {
  font-size: 3rem;
}
